<div class="jumbotron">
  <h1>Welcome to home page</h1>
  <p>Here is some text</p>
  <p>Link1 <a href="#">here</a>.</p>
  <p>Link2 <%= link_to "here", "#" %>.</p>
  <p>Link3 <%= link_to "here", "#", class: "btn btn-primary" %></p>
</div>

